APP_ENV=
NODE_ENV=
APP_SERVICE_NAME=
APP_VERSION=
LOG_LEVEL=
HOST=
PORT=
TZ=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
APP_BASE_URL=
EBAY_ACCEPTED_URL=
EBAY_DECLINED_URL=
EBAY_PROD_CLIENT_ID=
EBAY_PROD_CLIENT_SECRET=
EBAY_PROD_RUNAME=
EBAY_PROD_AUTH_URL=
EBAY_PROD_TOKEN_URL=
EBAY_PROD_BASE_URL=
EBAY_PROD_SCOPES=
EBAY_SANDBOX_CLIENT_ID=
EBAY_SANDBOX_CLIENT_SECRET=
EBAY_SANDBOX_RUNAME=
EBAY_SANDBOX_AUTH_URL=
EBAY_SANDBOX_TOKEN_URL=
EBAY_SANDBOX_BASE_URL=
EBAY_SANDBOX_SCOPES=
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_ENVIRONMENT=
EBAY_MARKETPLACE_ID=
EBAY_REQUEST_TIMEOUT_MS=
EBAY_HTTP_TIMEOUT_MS=
EBAY_MAX_RETRIES=
EBAY_HTTP_MAX_RETRIES=
EBAY_HTTP_BASE_BACKOFF_MS=
EBAY_HTTP_MAX_BACKOFF_MS=
EBAY_MIN_REQUEST_INTERVAL_MS=
EBAY_MAX_CONCURRENT_REQUESTS=
EBAY_DEFAULT_CACHE_TTL_MS=
EBAY_TOKEN_CACHE_TTL_SAFETY_MS=
EBAY_USER_AGENT=
EBAY_BROWSE_LIMIT_DEFAULT=
EBAY_BROWSE_LIMIT_MAX=
EBAY_COMP_MARKET_LIMIT=
DATABASE_URL=
PG_SSL_ENABLED=
PG_POOL_MAX=
PG_IDLE_TIMEOUT_MS=
PG_CONNECTION_TIMEOUT_MS=
PG_STATEMENT_TIMEOUT_MS=
PG_QUERY_TIMEOUT_MS=
COMP_WORKER_NAME=
COMP_WORKER_INSTANCE_ID=
COMP_WORKER_IDLE_SLEEP_MS=
COMP_WORKER_LOOP_DELAY_MS=
COMP_WORKER_HEARTBEAT_INTERVAL_MS=
COMP_WORKER_LOCK_TTL_SECONDS=
COMP_WORKER_MAX_ATTEMPTS=
COMP_WORKER_MIN_SOLD_ITEMS=
COMP_WORKER_MIN_PRICE_FLOOR_USD=
COMP_WORKER_MAX_ACTIVE_TO_SOLD_RATIO=
COMP_WORKER_MIN_BUY_OVERALL_SCORE=
COMP_WORKER_MIN_WATCH_OVERALL_SCORE=
RETRY_WORKER_NAME=
RETRY_WORKER_INSTANCE_ID=
RETRY_WORKER_IDLE_SLEEP_MS=
RETRY_WORKER_LOOP_DELAY_MS=
RETRY_WORKER_HEARTBEAT_INTERVAL_MS=
RETRY_WORKER_LOCK_TTL_SECONDS=
RETRY_WORKER_STALE_RETRY_MINUTES=
RETRY_WORKER_BATCH_SIZE=
ARB_FEE_RATE=
ARB_PAYMENT_PROCESSING_RATE=
ARB_RESERVE_RATE=
ARB_MIN_ABSOLUTE_PROFIT_USD=
ARB_MIN_ROI=
ARB_LISTING_CURRENCY=
HEALTH_COMP_WORKER_FRESHNESS_SECONDS=
HEALTH_RETRY_WORKER_FRESHNESS_SECONDS=
HEALTH_BACKLOG_WARN_THRESHOLD=
HEALTH_BACKLOG_FAIL_THRESHOLD=
HEALTH_DEAD_LETTER_WARN_THRESHOLD=
HEALTH_DEAD_LETTER_FAIL_THRESHOLD=
HEALTH_STALE_PROCESSING_MINUTES=
EBAY_DEFAULT_SCOPES=
MARKET_INTEL_WORKER_NAME=
MARKET_INTEL_WORKER_LOOP_DELAY_MS=
MARKET_INTEL_WORKER_IDLE_SLEEP_MS=
MARKET_INTEL_WORKER_HEARTBEAT_INTERVAL_MS=
WATCHLIST_WORKER_NAME=
WATCHLIST_WORKER_LOOP_DELAY_MS=
WATCHLIST_WORKER_IDLE_SLEEP_MS=
WATCHLIST_WORKER_HEARTBEAT_INTERVAL_MS=
WATCHLIST_WORKER_BATCH_SIZE=
WATCHLIST_WORKER_CLAIM_TTL_SECONDS=
OPPORTUNITY_QUEUE_WORKER_NAME=
OPPORTUNITY_QUEUE_WORKER_LOOP_DELAY_MS=
OPPORTUNITY_QUEUE_WORKER_IDLE_SLEEP_MS=
OPPORTUNITY_QUEUE_WORKER_HEARTBEAT_INTERVAL_MS=
OPPORTUNITY_QUEUE_WORKER_LISTING_SEED_BATCH_SIZE=
OPPORTUNITY_QUEUE_WORKER_CANDIDATE_BATCH_SIZE=
OPPORTUNITY_QUEUE_WORKER_WATCHLIST_BATCH_SIZE=
OPPORTUNITY_QUEUE_WORKER_CLAIM_TTL_SECONDS=
MARKET_INTEL_WORKER_MAX_HEARTBEAT_AGE_SECONDS=
MARKET_INTEL_WORKER_MIN_HEALTHY_INSTANCES=
WATCHLIST_WORKER_MAX_HEARTBEAT_AGE_SECONDS=
WATCHLIST_WORKER_MIN_HEALTHY_INSTANCES=
OPPORTUNITY_QUEUE_WORKER_MAX_HEARTBEAT_AGE_SECONDS=
OPPORTUNITY_QUEUE_WORKER_MIN_HEALTHY_INSTANCES=
PRONG2_MAX_PENDING_CANDIDATES=
PRONG2_MAX_OLDEST_PENDING_CANDIDATE_AGE_SECONDS=
PRONG2_MAX_RETRY_NEEDED_CANDIDATES=
PRONG2_MAX_OLDEST_RETRY_NEEDED_AGE_SECONDS=
PRONG2_MAX_QUEUED_OPPORTUNITIES=
PRONG2_MAX_OLDEST_QUEUED_OPPORTUNITY_AGE_SECONDS=
PRONG2_MAX_REVIEWED_OPPORTUNITIES=
PRONG2_MAX_OLDEST_REVIEWED_OPPORTUNITY_AGE_SECONDS=
PRONG2_MAX_DEAD_LETTERS_LAST_HOUR=
PRONG2_MAX_DEAD_LETTERS_LAST_24H=
PRONG2_MAX_RUNNING_MARKET_INTEL_AGE_SECONDS=
PRONG2_MAX_FAILED_MARKET_RUNS_LAST_24H=
PRONG2_MIN_ACTIVE_WATCHLIST=
PRONG2_CERTIFICATION_MODE=
PRONG2_MIN_FAMILY_SOLD_COUNT=
PRONG2_RELAXED_MIN_DEMAND_SCORE=
PRONG2_RELAXED_MIN_PROFIT_USD=
PRONG2_RELAXED_MIN_MARGIN_PCT=
PRONG2_ENABLE_DEBUG_CANDIDATE_LOGGING=
WATCHLIST_WORKER_MIN_WATCH_SCORE=
WATCHLIST_WORKER_MIN_PROFIT_USD=
WATCHLIST_WORKER_MIN_DEMAND_SCORE=
OPPORTUNITY_QUEUE_WORKER_MIN_MATCH_SCORE=
MARKET_INTEL_WORKER_STRATEGY_BATCH_SIZE=
MARKET_INTEL_WORKER_STRATEGY_BATCH_SIZE=
WATCHLIST_WORKER_BATCH_SIZE=
WATCHLIST_WORKER_CLAIM_TTL_SECONDS=
WATCHLIST_WORKER_MIN_PROFIT_USD=
WATCHLIST_WORKER_MIN_DEMAND_SCORE=
OPPORTUNITY_QUEUE_WORKER_LISTING_SEED_BATCH_SIZE=
OPPORTUNITY_QUEUE_WORKER_CANDIDATE_BATCH_SIZE=
OPPORTUNITY_QUEUE_WORKER_WATCHLIST_BATCH_SIZE=
OPPORTUNITY_QUEUE_WORKER_CLAIM_TTL_SECONDS=
WATCHLIST_WORKER_LOOP_DELAY_MS=
WATCHLIST_WORKER_BATCH_SIZE=
OPPORTUNITY_QUEUE_WORKER_LOOP_DELAY_MS=
OPPORTUNITY_QUEUE_WORKER_CANDIDATE_BATCH_SIZE=
OPPORTUNITY_QUEUE_WORKER_WATCHLIST_BATCH_SIZE=
OPPORTUNITY_QUEUE_WORKER_LISTING_SEED_BATCH_SIZE=
MARKET_INTEL_WORKER_LOOP_DELAY_MS=
MARKET_INTEL_WORKER_IDLE_SLEEP_MS=
MARKET_INTEL_WORKER_STRATEGY_BATCH_SIZE=
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=
PGSSLMODE=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
APP_NAME=
LOG_LEVEL=
WORKER_CONCURRENCY=
WORKER_HEARTBEAT_INTERVAL_MS=
PRECHECK_REQUIRE_TABLES=
PRECHECK_REQUIRE_QUEUES=
REDIS_DB=
BULLMQ_PREFIX=
WORKER_CONCURRENCY_DEFAULT=
WORKER_LOCK_DURATION_MS=
WORKER_STALLED_INTERVAL_MS=
WORKER_MAX_STALLED_COUNT=
PRECHECK_STALE_CANDIDATE_CLAIM_MINUTES=
PRECHECK_STALE_MARKET_CLAIM_MINUTES=
PRECHECK_STALE_JOB_LOCK_MINUTES=
PRECHECK_STALE_PROCESS_STEP_CLAIM_MINUTES=
PRECHECK_STALE_WORKER_HEARTBEAT_MINUTES=
PRECHECK_RECENT_FAILED_RUN_HOURS=
TEST_DB_RESET_SCHEMA=
TEST_REDIS_PREFIX=
TEST_PGHOST=
TEST_PGPORT=
TEST_PGUSER=
TEST_PGPASSWORD=
TEST_PGDATABASE=
TEST_PGSSLMODE=
TEST_CERT_ENTITY_TYPE=
TEST_CERT_ENTITY_PK=
TEST_CERT_RUN_ID=
EBAY_DISABLE_CATALOG=
CAPITAL_SAFETY_POLICY_VERSION=
CAPITAL_SAFETY_MAX_REPLAY_DRIFT=
CAPITAL_SAFETY_MIN_COMP_GROUNDING_SCORE=
CAPITAL_SAFETY_MIN_IDENTITY_CONFIDENCE=
CAPITAL_SAFETY_MIN_COMP_COUNT=
CAPITAL_SAFETY_MAX_ACTIVE_TO_SOLD_RATIO=
CAPITAL_SAFETY_MAX_RISK_SCORE=
CAPITAL_SAFETY_BLOCK_UNGROUNDED_BUY=
CAPITAL_SAFETY_LEDGER_REQUIRED_FOR_BUY=
PHASE2_HARDENING_WORKER_NAME=
PHASE2_HARDENING_WORKER_INSTANCE_ID=
PHASE2_HARDENING_LOOP_DELAY_MS=
PHASE2_HARDENING_IDLE_SLEEP_MS=
PHASE2_HARDENING_HEARTBEAT_INTERVAL_MS=
PHASE2_HARDENING_BATCH_SIZE=
PHASE2_HARDENING_CLAIM_TTL_SECONDS=
PRONG2_COMP_GROUNDING_WORKER_NAME=
PRONG2_COMP_GROUNDING_WORKER_INSTANCE_ID=
PRONG2_COMP_GROUNDING_LOOP_DELAY_MS=
PRONG2_COMP_GROUNDING_IDLE_SLEEP_MS=
PRONG2_COMP_GROUNDING_HEARTBEAT_INTERVAL_MS=
PRONG2_COMP_GROUNDING_BATCH_SIZE=
PRONG2_COMP_GROUNDING_CLAIM_TTL_SECONDS=
PG_SSL_ENABLED=
PG_POOL_MAX=
PG_IDLE_TIMEOUT_MS=
PG_CONNECTION_TIMEOUT_MS=
PG_STATEMENT_TIMEOUT_MS=
PG_QUERY_TIMEOUT_MS=
