DOMAIN10_DELIVERY_ENABLED=false
DOMAIN10_DELIVERY_EMAIL_ENABLED=false
DOMAIN10_DELIVERY_SMS_ENABLED=false
DOMAIN10_DELIVERY_BATCH_SIZE=20
DOMAIN10_DELIVERY_LEASE_SECONDS=120
DOMAIN10_DELIVERY_RETRY_BASE_MS=5000
DOMAIN10_DELIVERY_RETRY_MAX_MS=300000
DOMAIN10_RECONCILIATION_BATCH_SIZE=25
DOMAIN10_RECONCILIATION_LEASE_SECONDS=180
DOMAIN10_PROVIDER_ERROR_MAX_CHARS=1000
